.generaltable {
    thead {
        tr{
            th{
                border: none;
            }
            td{
                border: none;
            }
        }
    }
    tbody{
        tr{
            th{
                border: none;
            }
            td{
                border: none;
            }
        }
    }
}