body {
    background-color: $FOS-Aubergine-bk;
  #page-wrapper #page {
    background-color: $FOS-Aubergine-bk;
    #page-content{
      background-color: $body-bg;
    }

    .main-inner {
      background-color: $body-bg;
    }

    #region-main {
      background-color: $body-bg;
    }
  }
}