.svw-body {
  width: auto;
  height: auto;

  .grid-table_sv {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2px;
    margin: 0 0 50px;

    .header {
      background-color: $primary;
      padding: 8px;
      color: $white;
    }

    .data {
      color: $primary;
      background-color: $white;
      padding: 8px;
      border: 1px solid $white;
    }
  }

  .svw-cstm_frm {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 8px;
    max-width: 800px;
    margin: 0 auto 50px;

    .item_custom {
      display: grid;
      grid-gap: 8px;

      // Title & Upload date
      .cnt_row1 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr auto;
        gap: 0px 8px;

        // Title
        .col1 {
          @include svw_field;
        }

        // Upload date
        .col2 {
          @include svw_field;
        }
      }

      // Description
      .cnt_row2 {
        @include svw_field;
      }

      // Organization
      .cnt_row3 {
        @include svw_field;
      }

      // Category
      .cnt_row4 {
        @include svw_field;
      }

      // Year of completion & Author
      .cnt_row5 {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr auto;
        gap: 0px 8px;
        justify-content: stretch;
        align-content: stretch;

        // Year of completion
        .col1 {
          @include svw_field;
        }

        // Author
        .col2 {
          @include svw_field;
        }
      }

      // Needs
      .cnt_row6 {
        @include svw_field;
      }

      // Comments
      .cnt_row7 {
        @include svw_field;
      }

      // Links
      .cnt_row8 {
        @include svw_field;
      }

      // Files
      .cnt_row9 {
        @include svw_field;
      }
    }
  }
}
