@font-face {
  font-family: 'Isidora Sans Regular';
  src: url('/fonts/isidora-sans/IsidoraSans-Regular.otf') format('opentype'),
       url('/fonts/isidora-sans/IsidoraSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Isidora Sans Medium';
  src: url('/fonts/isidora-sans/IsidoraSans-Medium.otf') format('opentype'),
       url('/fonts/isidora-sans/IsidoraSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Isidora Sans Alt-Black';
  src: url('/fonts/isidora-sans/IsidoraSansAlt-Black.otf') format('opentype'),
       url('/fonts/isidora-sans/IsidoraSansAlt-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


h1 {
  @include font-header('Isidora Sans Black');
  color: $FOS-Aubergine;
}

h2 {
  @include font-header('Isidora Sans Black');
  color: $FOS-Aubergine;
}


h5 {
  @include font-header('Isidora Sans Black');
  color: $FOS-Aubergine;
}