$FOS-Aubergine: #5C3873;
$FOS-Aubergine-Linear: var(--FOS-Aubergine-Linear, linear-gradient(317deg, rgba(0, 0, 0, 0.20) 22.05%, rgba(0, 0, 0, 0.00) 82.24%), linear-gradient(180deg, #4D2A63 0%, #2B0842 100%));
$FOS-Coral: #F06043;
$FOS-Coral-Linear: var(--FOS-Coral-Linear, linear-gradient(317deg, rgba(0, 0, 0, 0.20) 22.05%, rgba(0, 0, 0, 0.00) 82.24%), linear-gradient(180deg, #DB5938 0%, #B03A1C 100%));
$FOS-Caribbean-Green: #60AD8F;
$FOS-Caribbean-Green-Linear: var(--FOS-Caribbean-Green-Linear, linear-gradient(317deg, rgba(0, 0, 0, 0.20) 22.05%, rgba(0, 0, 0, 0.00) 82.24%), linear-gradient(180deg, #4FA986 0%, rgba(92, 56, 115, 0.00) 100%));
$FOS-Sand: #F9F2EA;
$FOS-Cityrine: #E8CD0A;
$FOS-Artists-Purple: #C71585;
$FOS-Larimar: #00D4D9;
$FOS-Cancharana: #7D392E;
$FOS-Flint: #383D47;
$FOS-Flint-70: var(--fos-flint-70, rgba(56, 61, 71, 0.70));
$FOS-Flint-35: var(--fos-flint-35, rgba(56, 61, 71, 0.35));